*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    /* border: 2px solid red; */
    
}


.header{
    width: 100%;
    height: auto;
    background-color: rgb(192, 192, 192);
    box-sizing: border-box;
    padding-bottom: 10px;
    position: relative;
}

.header-section{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 10px;
    /* position: relative; */
    
}

.nav-menu{
    height: 30px;
    height: 30px;
    margin: 0px 10px;
    order: 1;
}
.nav-menu>img{
    width: 30px;
    height: 30px;
}

.logo{
    height: 35px;
    width: 120px;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'unica one', 'sans-serif';
    flex: 18;
    color: white;
    order: 2;
}

.account{
    height: 30px;
    width: 30px;
    margin: 5px;
    order: 5;
}
.account>img{
    height: 30px;
    width: 30px;
    flex: 1;
}

.cart{
    height: 30px;
    width: 30px;
    flex: 1;
    margin: 5px;
    order: 6;
    
}
.cart>img{
    height: 30px;
    width: 30px;
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    
}
.searchbar{
    height: 30px;
    width: 85%;
    padding-left: 15px;
    border: 2px solid grey;
    border-radius: 15px;
    
}
.search>img{
    height: 25px;
    width: 25px;
}

.search-pc{
    display: none;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: auto;
    margin: auto;
    order: 4;
}

.search-pc>img{
    height: 25px;
    width: 25px;
}


.nav-bar-pc{
    align-items: center;
    display: none; 
    order: 3;
    
    
}

.nav-bar-pc{
    width: 100vw;
    height: auto;
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0px;
    left: 0px;
    padding: 30px 10px;
    color: white;
}

.nav-item-pc{
    /* width: 100%; */
    font-size: 1.7em;
    font-family: 'unica one', sans-serif;
    padding: 10px 5px;
    font-weight: bolder;
    border-bottom: 2px solid grey;
    
    
    
    
    
}
.nav-item-pc>a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}

.close{
    height: 35px;
    width: 55px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    align-items: center;
    background-color: rgb(67, 61, 61);
    position: absolute;
    top: 10px;
    right: 15px;
}
.nav-bar{
    /* height: 1200px; */
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.811);
    display: flex;
    flex-direction: column;
    margin: 0px 5px 3px 1px;
    display: none;
    
}
.nav-menu:visited{
    display: flex;
    background-color: red; 
}
.nav-menu{
    display :flex;
}
.nav-bar>div>a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}
.nav-item{
    margin: 10px 20px;
    border-bottom: 1px solid rgba(99, 99, 99, 0.808);
    
}






/* media querry for the responsive site */

@media screen and (min-device-width: 481px) and (max-device-width: 768px){
    .screen-size-error{
        display: none;
    }
    .search{
        display: none;
    }
    .search-pc{
        display: flex;
        width: 250px;
    }
    .header-section{
       height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    
}

@media(min-device-width: 769px) {
    
    .screen-size-error{
        display: none;
    }
    .header{
        width: 100%;
        /* height: 60px; */
        margin: auto;
    }
    .header-section{
        width: 80%;
        padding: 0px;
    }
    .nav-menu{
        display: none;
        
    }
    .search{
        display: none;
    }
    .search-pc{
        display: flex;
    }
    
    
    .header{
        padding: 0px;
    }
    
    .nav-bar-pc{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color:transparent;
        top: 0px;
        left: 0px;
        padding: 0px;
        color: white;
    }
    .close{
        display: none;
    }
    .nav-item-pc{
        /* width: 100%; */
        font-size: 1em;
        font-family: 'unica one', sans-serif;
        /* padding: 30px 5px; */
        font-weight: bolder;
        border-bottom: none;  
        display: flex;
        justify-content: flex-end;     
        
    }
    
}
